# py city

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy


MIN_PASSING_SCORE = 70

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [2]:
## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [4]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [26]:
# Calculate the total budget of the unique schools
total_budget = school_data_complete.groupby('school_name')['budget'].mean().sum()
total_budget

24649428.0

In [6]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [9]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

#CREATE SERIES
passing_math_series = school_data_complete["math_score"] >= MIN_PASSING_SCORE

#passing math count
passing_math_count = school_data_complete[passing_math_series].count()["student_name"]

#divide by student count to get percentage 
passing_math_percentage = passing_math_count/student_count *100

passing_math_percentage

74.9808526933878

In [10]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

#CREATE SERIES
passing_reading_series = school_data_complete["reading_score"] >= MIN_PASSING_SCORE

#passing reading count
passing_reading_count = school_data_complete[passing_reading_series].count()["student_name"]

#divide by student count to get percentage
passing_reading_percentage = passing_reading_count/student_count *100

passing_reading_percentage

85.80546336482001

In [11]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [12]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
# Create data frame of new District Summary using Dictionay - key value paies
district_summary_df = {
    "Total Schools": school_count,
    "Total Students": student_count,
    "Total Budget": total_budget,
    "Average Math Score":average_math_score,
    "Average Reading Score":average_reading_score,
    "% Passing Math": passing_math_percentage,
    "% Passing Reading": passing_reading_percentage,
    "% Overall Passing": overall_passing_rate}

district_summary_df = pd.DataFrame([district_summary_df])
# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [31]:
# Use the code provided to select all of the school types
school_types = school_data_complete["type"]
school_types

0        District
1        District
2        District
3        District
4        District
           ...
39165     Charter
39166     Charter
39167     Charter
39168     Charter
39169     Charter
Name: type, Length: 39170, dtype: object

In [32]:
# Calculate the total student count per school
per_school_counts= school_data_complete.groupby("school_name")["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [15]:
# Calculate the total school budget 

per_school_budget = school_data_complete.groupby("school_name")["budget"].unique()
per_school_budget

school_name
Bailey High School       [3124928]
Cabrera High School      [1081356]
Figueroa High School     [1884411]
Ford High School         [1763916]
Griffin High School       [917500]
Hernandez High School    [3022020]
Holden High School        [248087]
Huang High School        [1910635]
Johnson High School      [3094650]
Pena High School          [585858]
Rodriguez High School    [2547363]
Shelton High School      [1056600]
Thomas High School       [1043130]
Wilson High School       [1319574]
Wright High School       [1049400]
Name: budget, dtype: object

In [16]:
# Calculate the per capita spending per school

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       [628.0]
Cabrera High School      [582.0]
Figueroa High School     [639.0]
Ford High School         [644.0]
Griffin High School      [625.0]
Hernandez High School    [652.0]
Holden High School       [581.0]
Huang High School        [655.0]
Johnson High School      [650.0]
Pena High School         [609.0]
Rodriguez High School    [637.0]
Shelton High School      [600.0]
Thomas High School       [638.0]
Wilson High School       [578.0]
Wright High School       [583.0]
dtype: object

In [17]:
# Calculate the average math test score at each school

per_school_average_math_score = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_average_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
# Calculate the average reading test score at each school

per_school_average_reading_score = school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_average_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
# Calculate the number of students  with math scores of 70 or higher
students_passing_math = student_data[student_data["math_score"] >= MIN_PASSING_SCORE].count()
students_passing_math

Student ID       29370
student_name     29370
gender           29370
grade            29370
school_name      29370
reading_score    29370
math_score       29370
dtype: int64

In [20]:
# Calculate the number of students per school with math scores of 70 or higher


students_passing_math_per_school = school_data_complete[school_data_complete["math_score"] >= MIN_PASSING_SCORE].groupby("school_name").count()["student_name"]
students_passing_math_per_school

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [21]:
# Calculate the number of students  with reading scores of 70 or higher
students_passing_reading = student_data[student_data["reading_score"] >= MIN_PASSING_SCORE].count()
students_passing_reading

Student ID       33610
student_name     33610
gender           33610
grade            33610
school_name      33610
reading_score    33610
math_score       33610
dtype: int64

In [22]:
# Calculate the number of students per school with reading scores of 70 or higher

students_passing_reading_per_school = school_data_complete[school_data_complete["reading_score"] >= MIN_PASSING_SCORE].groupby("school_name").count()["student_name"]
students_passing_reading_per_school

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [23]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= MIN_PASSING_SCORE) & (school_data_complete["math_score"] >= MIN_PASSING_SCORE)]

school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

print(students_passing_math_and_reading)

print(school_students_passing_math_and_reading)

       Student ID     student_name gender grade         school_name  \
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
9               9   Matthew Greene      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
9                 96          84          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[25528 rows x 11 columns]
school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [24]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math_per_school / per_school_counts * 100
per_school_passing_reading = students_passing_reading_per_school / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

print(per_school_passing_math)
print("______________________")
print(per_school_passing_reading)
print("______________________")
print(overall_passing_rate)

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: student_name, dtype: float64
______________________
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: student_name, dtype: float64
______________________
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [43]:
# Create a dictionary with schools as keys and corresponding data as values
per_school_data = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": school_data_complete.groupby('school_name')['budget'].first(),
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_average_math_score,
    "Average Reading Score": per_school_average_reading_score,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
}
#define school_name
school_names = school_data_complete['school_name'].unique()
# Create the DataFrame with the index as school_names and organize alphabetical


per_school_summary_df = pd.DataFrame([per_school_data], index=school_names)

# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
# Print the DataFrame
per_school_summary_df

TypeError: unsupported format string passed to Series.__format__

In [42]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary_df = {
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score":per_school_average_math_score,
    "Average Reading Score":per_school_average_reading_score,
    "% Passing Math":per_school_passing_math,
    "% Passing Reading":per_school_passing_reading,
    "% Overall Passing":overall_passing_rate
}

      
# def school name
school_names = school_data_complete["school_name"].unique()

# create df set index to school_names and make alpha order
per_school_summary_df = pd.DataFrame(per_school_summary_df, index=school_names)


# Formatting
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary_df

TypeError: unsupported format string passed to numpy.ndarray.__format__